<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20255061608-fa2jibdg9h04r9mksdfpmeenh5i76sgq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20255061608-fa2jibdg9h04r9mksdfpmeenh5i76sgq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>20255061608-ji0sql6s124mj82pbmvgjc2pofapdl8e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAU9Z1fo4mElQJWbR00nrqgf3tmYLKqqpE</string>
	<key>GCM_SENDER_ID</key>
	<string>20255061608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wearelive.livetv</string>
	<key>PROJECT_ID</key>
	<string>livetv-b6767</string>
	<key>STORAGE_BUCKET</key>
	<string>livetv-b6767.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20255061608:ios:21688f1194f3612bfd6ddd</string>
</dict>
</plist>